body {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}
#guide {
  width: 600px;
  margin-left: 20px;
}
#game {
  background-image: url('loading-splash.png');
  background-color: lightgrey;
  width:  801px;
  height: 601px;
}
